
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	position: relative;
	font-family: 'Montserrat', sans-serif !important;;
}

#footer-main {
	padding-top: $spacer * 3.75;
	padding-bottom: $spacer * 4;
}

#copyrights {
	color: #909090;
	font-size: 0.875rem;
	font-weight: 300;	
	line-height: 1;
	z-index: 1;	
}

