
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/

// Textarea
textarea {
    resize: none;
}

// Required field
.required-field {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        right: 1.375rem;
        top: 0;
        display: block;
        width: 0.5rem;
        height: 0.6875rem;
        background-image: url(../images/icons/clip_icon.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.form-control {
    padding: 0.8rem 2rem;
    background: transparent;
    border: solid 1px white;
    margin: 0.75rem;
    
    &::placeholder {
        color: white;
        font-family: $body-font;
        font-size: 1rem;
    }
}