/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.body-font { font-family: $body-font !important; }
.heading-font { font-family: $heading-font !important; }

.fw-semi-bold { font-weight: 600 !important; }

// Font Weight

// Text Color
.text-black { color: #000 !important; }


//-------------------- Image --------------------//

.bg-cover {
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
	&.img-full {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

//-------------------- Section ------------------//

.section {
	position: relative;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}
