/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.body-font { font-family: $body-font !important; }
.heading-font { font-family: $heading-font !important; }
.third-font { font-family:  $third-font !important; }
.body-medium-italic { font-family: 'GilroyMediumItalic' !important; } 
.body-semi-bold { font-family: 'GilroySemiBold' !important; } 

// Font Weight

// Text Color
.text-black { color: #000 !important; }


//-------------------- Image --------------------//

img {
	&.img-full {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

//-------------------- Section ------------------//

.section {
	position: relative;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}

.section-padding-top {
	padding-top: $section-spacer;
}

.section-padding-bottom {
	padding-bottom: $section-spacer;
}

.section-margin-top {
	margin-top: $section-spacer;
}

.section-margin-bottom {
	margin-bottom: $section-spacer;
}

.container-fluid.padding-left {
	width: 100%;
	@include media-breakpoint-up(xl) {
		padding-left: 7.5rem;
	}
}

